@import "tailwindcss";

:root {
  --background: #e1eee9;
  --foreground: #147B58;
}

body {
  background: #fff;
  color: #000000;
}


body {
  font-family: var(--font-poppins), sans-serif;
}
.font-cormorant {
  font-family: var(--font-cormorant), serif; 
}
.wrapper{
  width: 100%;
  padding:0px 7%;
}
#smoothing-wrapper {  /* optional: ensure wrapper doesn't block */
  pointer-events: none;
}

#smooth-content {
  pointer-events: none;
}

/* Restore pointer events for ALL actual content inside */
#smooth-content > * {
  pointer-events: auto;
}

/* gsap style start */
.reveal {
  will-change: transform;
}
.img-reveal img {
  display: block;
  width: 100%;
  height: auto;
}

/* swiper dots style start */
/* Slider pagination */
.image-slider .swiper-pagination {
  bottom: 12px !important;
}
.image-slider .swiper-pagination.swiper-pagination-clickable{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: white;
  opacity: 1;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

.image-slider .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  opacity: 1;
}

/* swiper dots style end */