@import "tailwindcss";

:root {
  --background: #147B5821;
  --foreground: #147B58;
}

body {
  background: #fff;
  color: #000000;
}


body {
  font-family: var(--font-poppins), sans-serif;
}
.font-cormorant {
  font-family: var(--font-cormorant), serif; 
}
.wrapper{
  width: 100%;
  padding:0px 7%;
}

