@import "tailwindcss";

:root {
  --background: #e1eee9;
  --foreground: #147B58;
}

body {
  background: #fff;
  color: #000000;
}


body {
  font-family: var(--font-poppins), sans-serif;
}
.font-cormorant {
  font-family: var(--font-cormorant), serif; 
}
.wrapper{
  width: 100%;
  padding:0px 7%;
}
#smoothing-wrapper {  /* optional: ensure wrapper doesn't block */
  pointer-events: none;
}

#smooth-content {
  pointer-events: none;
}

/* Restore pointer events for ALL actual content inside */
#smooth-content > * {
  pointer-events: auto;
}

/* gsap style start */
.reveal {
  will-change: transform;
}
.img-reveal img {
  display: block;
  width: 100%;
  height: auto;
}

/* gsap style end */
/* .footer {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
}
.footer.is-active {
  pointer-events: auto;
} */

